html, body, #q-app {
  height: 100%;
}
.q-page
{
    
    min-height: auto;
    flex:auto;
    max-width:100%;
}
.q-page-container
{
    display: flex;
    max-width: 100%;
}
.full-height
{
    min-height: 100%;
}
p
{
    margin: 0px;
}